In [1]:
import numpy as np
import pandas as pd
df1 = pd.DataFrame({
                   'EmployeeID': [1001,1002,1003,1004,1005,1006],
                   'EmployeeName': ['Bob', 'Jake', 'Lisa', 'Sue','Ancy','Jick'],
                   'Dept': ['Accounting', 'Engineering','Engineering','HR','NWT',"NWT"],
                   'Salary': ['AED78000', 'AED998000', 'AED998000', 230000,67000,'AED78000'],
                   'Address': ['Oulu','Kyme','Helsinki','Paris','KYME','NewYork'],
                   'Email': ['b@b.com','j@j.com','l@l.com','s@s.com','a@k.com','j@j.com'],
                   'Project': ['ACM','CRMWEB','AUTOMATION','SAPHRMS','OFA','OFAC']})
df1

,EmployeeID,EmployeeName,Dept,Salary,Address,Email,Project
0,1001,Bob,Accounting,AED78000,Oulu,b@b.com,ACM
1,1002,Jake,Engineering,AED998000,Kyme,j@j.com,CRMWEB
2,1003,Lisa,Engineering,AED998000,Helsinki,l@l.com,AUTOMATION
3,1004,Sue,HR,230000,Paris,s@s.com,SAPHRMS
4,1005,Ancy,NWT,67000,KYME,a@k.com,OFA
5,1006,Jick,NWT,AED78000,NewYork,j@j.com,OFAC

In [2]:
#"C:\Users\Exam\Desktop\python\datastructures-cpp-master\datastructures-cpp-master"
df1.to_csv(r'C:\Users\User\pyproj\employeedbnew.csv')

In [3]:
df2=pd.read_csv(r'C:\Users\User\pyproj\employeedbnew.csv')
df2

,Unnamed: 0,EmployeeID,EmployeeName,Dept,Salary,Address,Email,Project
0,0,1001,Bob,Accounting,AED78000,Oulu,b@b.com,ACM
1,1,1002,Jake,Engineering,AED998000,Kyme,j@j.com,CRMWEB
2,2,1003,Lisa,Engineering,AED998000,Helsinki,l@l.com,AUTOMATION
3,3,1004,Sue,HR,230000,Paris,s@s.com,SAPHRMS
4,4,1005,Ancy,NWT,67000,KYME,a@k.com,OFA
5,5,1006,Jick,NWT,AED78000,NewYork,j@j.com,OFAC

In [7]:
df2['Salary_nw']=df2['Salary'].replace(r'[^0-9]+','',regex=True)
#print(df)
df2

,Unnamed: 0,EmployeeID,EmployeeName,Dept,Salary,Address,Email,Project,Salary_nw
0,0,1001,Bob,Accounting,AED78000,Oulu,b@b.com,ACM,78000
1,1,1002,Jake,Engineering,AED998000,Kyme,j@j.com,CRMWEB,998000
2,2,1003,Lisa,Engineering,AED998000,Helsinki,l@l.com,AUTOMATION,998000
3,3,1004,Sue,HR,230000,Paris,s@s.com,SAPHRMS,230000
4,4,1005,Ancy,NWT,67000,KYME,a@k.com,OFA,67000
5,5,1006,Jick,NWT,AED78000,NewYork,j@j.com,OFAC,78000

In [4]:

df2 = df2.style.format(precision=1, subset=list(df2.columns)).set_properties(**{'background-color':'cyan'}, subset=['Price'])
df2

KeyError: "None of [Index(['Price'], dtype='object')] are in the [columns]"